<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketmoneydiary">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/pig"
        android:label="용돈생각"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketMoneyDiary">
        <activity android:name=".ButtomFragment.CalenderActivity" />
        <activity android:name=".memo.MemoActivity" />
        <activity android:name=".memo.MemoScanActivity" />
        <activity android:name=".ButtomFragment.HelpActivity" />
        <activity android:name=".NumberPad.SaveActivity" />
        <activity android:name=".ButtomFragment.SettingActivity" />
        <activity android:name=".ButtomFragment.goalActivity" />
        <activity android:name=".NumberPad.NumberPadActivity" />
        <activity android:name=".ButtomFragment.ScanActivity" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>